:root {
  --form-control-color: #000;
  --form-control-bg-color: #ecfeff;
  --form-control-f-color: #000;
  --form-control-f-bg-color: #ecfeff;
  --dark-theme-header-bg-color: #272727;
  --dark-theme-bg-color: #373a40;
  --dark-color-color: #4ef037;
  --dark-clr-1: #f7f7f7;
  --dark-bgc-1: #2d2d2d;
  --dark-theme-border-color: #fff;
  --dark-theme-color: #fff1e6;
  --topbar-border: 1px solid rgb(255, 255, 255);
  --dark-search-button-color: rgba(255, 255, 255, 0.904);
  --dark-input-placeholder-color: rgba(255, 255, 255, 0.5);
  --page-title-color: #373737;
  --dark-text-color: #fff;
  --dark-icon-color: #fff;
  --chart-bgc: #fff;
  --dark-color-theme-bg-color: #0f3057;
  --table-tr-odd-bg-color: #686d76;
  --dark-theme-leftbar-bg-color: #011e26;
  --dark-theme-outer-bg-color: #dbe2ef;
  --dark-theme-top-bg-color: #4f5b7e;
  --dark-theme-form-bg-color: #f6e1e1;
  --table-tr-even-color: #222831;
  --table-tr-even-bg-color: #222831;
  --table-tr-odd-color: #000;
  --table-td-color: #ecfeff;
  --table-tr-even-td-color: #19d3da;
  --table-thead-color: #fff1e6;
  --table-thead-bg-color: #1c2541;
  --outer-c: #fff1e6;
  --outer-bgc: #222831;
  --header-c: #fff1e6;
  --header-bgc: #ccc;
  --text-c: #fff;
  --text-bgc: #f6e1e1;
}
