:root {
  --form-control-color: #000;
  --form-control-bg-color: #faf9f9;
  --form-control-f-color: #000;
  --form-control-f-bg-color: #faf9f9;
  --dark-theme-header-bg-color: #4c4e50;
  --dark-theme-border-color: #fff;
  --dark-theme-color: #fff1e6;
  --topbar-border: 1px solid rgb(255, 255, 255);
  --dark-search-button-color: rgba(255, 255, 255, 0.904);
  --dark-input-placeholder-color: rgba(255, 255, 255, 0.5);
  --dark-color-color: #faf9f9;
  --dark-theme-bg-color: #7e8a97;
  --dark-clr-1: #f7f7f7;
	--dark-bgc-1: #c1cfd3;
  --page-title-color: #fff;
  --dark-text-color: #fff;
  --dark-icon-color: #fff;
  --chart-bgc: #fff;
  --dark-color-theme-bg-color: #0a0e1d;
  --dark-theme-leftbar-bg-color: #232528;
  --dark-theme-outer-bg-color: #393e46;
  --dark-theme-top-bg-color: #838383;
  --dark-theme-form-bg-color: #f6e1e1;
  --table-tr-even-color: #222831;
  --table-tr-even-bg-color: #41444b;
  --table-tr-odd-color: #000;
  --table-tr-odd-bg-color: #34373a;
  --table-td-color: #f1f1f1;
  --table-tr-even-td-color: #e6e2de;
  --table-thead-color: #fff1e6;
  --table-thead-bg-color: #1c2541;
  --outer-c: #f7f4f2;
  --outer-bgc: #e6e2de;
  --header-c: #fff1e6;
  --header-bgc: #b1b1b1;
  --text-c: #fff;
  --text-bgc: #f6e1e1;
}
