:root {
    --form-control-color: #000;
      --form-control-bg-color:#eee;
      --form-control-f-color: #000;
      --form-control-f-bg-color: #faf9f9;
    --dark-theme-header-bg-color: #747474;
    --dark-theme-border-color: #393939;
    --dark-theme-color: #fff1e6;
    --topbar-border: 1px solid rgb(255, 255, 255);
    --dark-search-button-color: rgba(255, 255, 255, 0.904);
    --dark-input-placeholder-color: rgba(255, 255, 255, 0.5);
    --dark-color-color: #faf9f9;
    --dark-theme-bg-color: #ffffff;
    --dark-clr-1: #f7f7f7;
    --dark-bgc-1: #eeeeee;
    --page-title-color: #393939;
    --dark-text-color: #393939;
    --dark-icon-color:#393939;
    --chart-bgc: #fff;
    --dark-color-theme-bg-color: rgb(25, 25, 26);
    --dark-theme-leftbar-bg-color: #222222;
    --dark-theme-outer-bg-color: #c2c2c2;
    --dark-theme-top-bg-color: #cecece;
    --dark-theme-form-bg-color: #f6e1e1;
    --table-tr-even-color: #e0e0e0;
    --table-tr-even-bg-color: #f7f7f7;
    --table-tr-odd-color: #000;
    --table-tr-odd-bg-color:#d9d9d9;
    --table-td-color: #0e313c;
    --table-tr-even-td-color:#4a4a4a;
    --table-thead-color:#fcfbfa;
    --table-thead-bg-color:#4a4a4a;
    --outer-c: #f7f4f2;
    --outer-bgc: #e6e2de;
    --header-c: #fff1e6;
    --header-bgc: #b1b1b1;
    --text-c: #fff;
    --text-bgc: #f6e1e1;
  }