<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Email Sent{% endblock %}

{% block indexhtml %}






<!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg text-dark">
        <!-- Start Container -->
        <div class="container">
            <div class="auth-box forgot-password-box">
                <!-- Start row -->
                <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-6 col-lg-5">
                        <!-- Start Auth Box -->
                        <div class="auth-box-right">
                            <div class="card user-card-bg-color">
                                <div class="card-body">
                                    

                                        
                                        <h4 class="text-primary my-4">Check your inbox.</h4>
                                        <p class="mb-4">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                                                     
                                      <a type="button" class="btn btn-success btn-lg btn-block font-18" href="{% url 'users:home' %}">back to home page</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Auth Box -->
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->



{% endblock indexhtml %}


