<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset complete{% endblock %}

{% block indexhtml %}

<!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg text-dark">
        <!-- Start Container -->
        <div class="container">
            <div class="auth-box forgot-password-box">
                <!-- Start row -->
                <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-6 col-lg-5">
                        <!-- Start Auth Box -->
                        <div class="auth-box-right">
                            <div class="card user-card-bg-color">
                                <div class="card-body">
                                        
                                        <h4 class="text-primary my-4">Password reset complete</h4>
                                        <p class="mb-4">Your new password has been set. You can log in now on the 
                                             <div class="container-login100-form-btn">
                                      <a type="button" class="btn btn-success btn-lg btn-block font-18" href="{% url 'users:login' %}">login page</a>
                                      </div>
                                      </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Auth Box -->
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->



{% endblock indexhtml %}