<!-- templates/registration/password_reset_confirm.html -->

{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Enter new password{% endblock %}


{% block indexhtml %}

<!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg text-dark">
        <!-- Start Container -->
        <div class="container">
        

            <div class="auth-box forgot-password-box">
                <!-- Start row -->
                <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-6 col-lg-5">
                        <!-- Start Auth Box -->
                        <div class="auth-box-right">
                            <div class="card user-card-bg-color">
                                <div class="card-body">
                                {% if validlink %}
                                    <form action="" method="post">
                                    {% csrf_token %}

                                        
                                        <h4 class="text-primary my-4">Set a new password!</h4>

                                        <div class="form-group">
                                            <input class="form-control" type="password" name="new_password1" id="id_new_password1" autocomplete="new-password" required placeholder="New Password">
                                        </div>
                                      {% if form.new_password1.errors %}
                                      <div class="mb-2">
                                      {% for ee in form.new_password1.errors %}
                                            <span class="error-email-text text-center">
                                              {{ee}}
                                            </span>
                                          {% endfor %}
                                          </div>
                                      {% endif %}         
                                                     
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="new_password2" id="id_new_password2" autocomplete="new-password" required placeholder="New Password Confirmation">
                                        </div>

                                      {% if form.new_password2.errors %}
                                      <div class="mb-2">
                                      {% for ee in form.new_password2.errors %}
                                            <span class="error-email-text text-center mb-3">
                                              {{ee}}
                                            </span>
                                          {% endfor %}
                                          </div>
                                      {% endif %}         
                                                     
                                      <button type="submit" class="btn btn-success btn-lg btn-block font-18">Change my password</button>
                                    </form>
                                </div>
                                {% else %}
                                <span class="txt1"><p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p></span>

                                          <div class="container-login100-form-btn mt-3">
                                            <a type="button" class="btn btn-info btn-block" href="{% url 'users:password_reset' %}">request password reset</a>.
                                          </div>
                                          {% endif %}
                            </div>
                        </div>
                        <!-- End Auth Box -->
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->

    {% endblock indexhtml %}