<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Your Password?{% endblock %}



{% block indexhtml %}

<!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg text-dark">
        <!-- Start Container -->
        <div class="container">
            <div class="auth-box forgot-password-box">
                <!-- Start row -->
                <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-6 col-lg-5">
                        <!-- Start Auth Box -->
                        <div class="auth-box-right">
                            <div class="card user-card-bg-color">
                                <div class="card-body">
                                    <form action="" method="post">
                                    {% csrf_token %}

                                        
                                        <h4 class="text-primary my-4">Forgot Password ?</h4>
                                        <p class="mb-4">Enter the email address below to receive reset password instructions.</p>

                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                                        </div>
                                        
                                      {% if form.email.errors %}
                                      <div class="mb-2">
                                      {% for ee in form.email.errors %}
                                            <span class="error-email-text text-center">
                                              {{ee}}
                                            </span>
                                          {% endfor %}
                                          </div>
                                      {% endif %}         
                                                     
                                      <button type="submit" class="btn btn-success btn-lg btn-block font-18">Send Email</button>
                                    </form>
                                    <p class="mb-0 mt-4">Remember Password? <a href="{% url 'users:login' %}">Log in</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Auth Box -->
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->

    {% endblock indexhtml %}