{% load static %}

<!-- Start css -->

<!-- jQuery UI css -->
<link href="{% static 'assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
<!-- jQuery Confirm css -->
<link href="{% static 'assets/plugins/jquery-confirm/css/jquery-confirm.css' %}" rel="stylesheet" type="text/css">
<!-- lightbox2 css -->
<link href="{% static 'assets/plugins/lightbox/css/lightbox.min.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
{% comment %}
<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/flag-icon.min.css' %}" rel="stylesheet" type="text/css" />
{% endcomment %}
<!-- main style css -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />

<!-- Mystyle css -->
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet" type="text/css" />

{% comment %}
<!-- this is rended using form media -->
 <link href="{% static 'css/loadswitch.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}

<!--color change-->
<link rel="stylesheet" href="{% static 'colorscheme/css/default.css' %}" type="text/css" />
<link id="theme-style" rel="stylesheet" type="text/css" href="" />
<!-- End css -->
