{% load static %}
<!-- End Containerbar -->
<!-- Start js -->
<script defer src="{% static 'assets/js/jquery.min.js' %}"></script>
<script defer src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'assets/js/popper.min.js' %}"></script>
<script defer src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script defer src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- jQuery Confirm js -->
<script defer src="{% static 'assets/plugins/jquery-confirm/js/jquery-confirm.js' %}"></script>
<script defer src="{% static 'js/profile.js' %}"></script>
<!-- Core js -->
<script defer src="{% static 'assets/js/core.js' %}"></script>
<!--custom js-->
<script defer src="{% static 'js/csrf.ajax.js' %}"></script>
<!--color change-->
<script defer type="text/javascript" src="{% static 'colorscheme/js/script.js' %}"></script>


<!-- End js -->