{% extends 'base.html' %}
{% load static %}
{% block title %}404 Page not found{% endblock title %}
{% block indexhtml %}


    <!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg text-dark">
                <!-- Start Container -->
        <div class="container">
            <div class="auth-box error-box">
                <!-- Start row -->
                 <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-8 col-lg-6">
                        <div class="text-center">
                            <img src="{% static 'assets/images/error/404.svg' %}" class="img-fluid error-image" alt="404">
                            <h4 class="error-subtitle mb-4 error-page-color">Oops! Page not Found</h4>
                            <p class="mb-4 error-page-color">We did not find the page you are looking for. Please return to previous page or visit home page. </p>
                            <a href="{% url 'users:home' %}" class="btn btn-primary font-16"><i class="ri-home-5-line mr-2"></i> Go back to Dashboard</a>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->








{% endblock indexhtml %}